@if (IsVisible)
{
    <div class="fixed-top my-modal-backdrop">
        <div class="my-modal">
            <div class="my-modal-body">
                @ChildContent
            </div>
        </div>
    </div>
}

