@page "/"
@using ScoundrelCore.Data;
@using ScoundrelCore.Engine.Contract;
@using ScoundrelCore.Enum;
@inject IGameEngine GameEngine

<PageTitle>Scoundrel</PageTitle>



    @if (GameEngine.GameState == GameState.Unknown)
    {
    <div class="d-flex w-100">
        <div class="d-flex flex-column justify-content-center align-items-center w-100">
            <ScoundrelHybrid.Shared.Components.Title>Scoundrel</ScoundrelHybrid.Shared.Components.Title>
            <div class="btn btn-outline-info my-auto w-25" @onclick="GameEngine.StartGame">Start Game</div>
        </div>
    </div>
    }
    else
    {
        <div class="d-flex w-100 mb-auto">
            <div>
                <ScoundrelHybrid.Shared.Layout.ActionMenu OnAction="StateHasChanged" />
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center" style="flex: 1">
                <div class="btn btn-outline-info" @onclick="GameEngine.StartGame">Restart Game</div>

                <p>@GameEngine.GameState</p>

                <div class="d-flex justify-content-center flex-wrap">
                    @foreach (Card card in GameEngine.Room)
                    {
                        <ScoundrelHybrid.Shared.Components.Card CardData="@card" OnCardPlayed="StateHasChanged" />
                    }

                </div>

                <hr />

                <div class="d-flex justify-content-center flex-wrap">
                    @if (GameEngine.Player.Weapon != null)
                    {
                        <ScoundrelHybrid.Shared.Components.Card CardData="@GameEngine.Player.Weapon" IsWeapon="true" />
                    }
                    else
                    {
                        <div class="custom-card rounded bg-light m-1 fw-bold text-center align-content-center">No weapon</div>
                    }
                    <div class="custom-card rounded m-1"></div>
                    <div class="custom-card rounded m-1"></div>
                    @if (GameEngine.Player.PreviousMonsterForWeapon != null)
                    {
                        <ScoundrelHybrid.Shared.Components.Card CardData="@GameEngine.Player.PreviousMonsterForWeapon" />
                    }
                    else
                    {
                        <div class="custom-card rounded bg-light m-1 fw-bold text-center align-content-center">No previous ennemy killed by weapon</div>
                    }
                </div>
            </div>
        </div>
    }
