@page "/"
@using ScoundrelCore.Data;
@using ScoundrelHybrid.Shared.Services
@inject IFormFactor FormFactor

<PageTitle>Scoundrel</PageTitle>

<h1>Scoundrel</h1>

<button @onclick="gameEngine.StartGame">Start Game</button>

<p>@gameEngine.GameState</p>

<div class="d-flex">
@foreach (Card card in gameEngine.Room)
{
    <p class="m-1 border-danger">@card</p>
}

</div>

Welcome to your new app running on <em>@factor</em> using <em>@platform</em>.
