@using ScoundrelHybrid.Shared.Services
@inject IFormFactor FormFactor
@page "/rules"

<PageTitle>Rules</PageTitle>
<div class="mb-auto">

    <ScoundrelHybrid.Shared.Components.Title>Rules</ScoundrelHybrid.Shared.Components.Title>

    <p>
        <b>Scoundrel</b> is a single player rogue-like card game for use with a standard deck of playing cards. It was developed by Zach Gage and Kurt Bieg.
    </p>
    <p>
        All Jokers, red face cards, and red aces are removed from the deck. The remaining cards serve as monsters (spades and clubs), weapons (diamonds), and health potions (hearts) valued from 2–14 (with face cards being valued 11–14). The rooms of the dungeon are created by laying out cards in groups of four. Progress is made through the dungeon by resolving three of the four dungeon cards in each room. The fourth card serves as the foundation for a new room. Rooms can be deferred (RUN) if needed, but never twice in a row — and the player will eventually need to come back to deferred rooms.
    </p>
    <p>
        Weapons may be equipped to attack multiple monsters, as long as each defeated monster is of lower value than the last monster defeated with that same weapon. To attack a monster of higher value, a new weapon must be equipped. Monsters can also always be attacked barehanded, but this depletes the player's health for the full value of the monster. Every fight is in one turn, when the player has a weapon, the amount of damages he receive is equal to the power of the monster minus the power of the weapon. (This amount can not be lower than 0). Health potions may be used to recover life points up to the maximum starting value of 20. Playing a second potion in the same room nullifies the effect of the second potion.
    </p>
    <p>
        The game ends in a loss when life points reach zero or in a victory if the player manages to clear all rooms of the dungeon.
    </p>

    <p><a href="http://stfj.net/art/2011/Scoundrel.pdf">Original rules</a></p>

    <p>Welcome to your new app running on <em>@factor</em> using <em> @platform </em>.</p>

</div>

@code {
    private string factor => FormFactor.GetFormFactor();
    private string platform => FormFactor.GetPlatform();
}